@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --primary-rgb: 72, 60, 70; */
    --blue: 30, 0, 102;
    --turquoise: 157, 241, 205;
    --offwhite: 240, 240, 225;
    --purple: 151, 28, 181;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  color: rgb(var(--blue));
  background: rgb(var(--offwhite));
}
